# Environment
.env
.env.*
!.env.example

# Python
*.pyc
*.pyo

# Virtual environments
.venv/

# Build artifacts
dist/
build/
*.egg-info/

# Caches
.pytest_cache/
.ruff_cache/

# Logs (auto-created by seed operations)
logs/

# Teradata
teradata/metadata
teradata/output
